<div class="steamy-hottub">

	<h2>
		I love hot tub coding and bacon.

		<%= simple_form_for @pic do |f| %>
			<%= f.input :hour %>
			<%= f.input :emotion %>
			<%= f.input :learned %>

			<%= f.submit 'Save' %>
		<% end %>

	</h2>

</div>